<div class="contenedor2">
    <div class="contenedorpag2">
        <h2 class="titulo"><span class="num-title">01</span> PICK YOUR DESTINATION</h2>

        <div class="main">
            <div class="image">
                <img src="../../../assets/destination/image-mars.png" alt="">
            </div>

            <section class="descripcion">
                <nav class="menu">
                    <a href="#">Moon</a>
                    <a href="#">Mars</a>
                    <a href="#">Europa</a>
                    <a href="#">Titan</a>
                </nav>
        
                <article class="texto">
                    <h3>MARS</h3>
                    <p>Don't forget to pack your hiking boots. You'll need them to tackle Olympus Mons, the tallest planetary mountain in our solar system. It's two and a half times the size of Everest!</p>
                    <footer class="detalles">
                        <div class="deta1">
                            <p class="detachico">AVG. DISTANCE</p>
                            <P class="detagrande">225 MIL. KM</P>
                        </div>
        
                        <div class="deta2">
                            <p class="detachico">EST. TRAVEL TIME</p>
                            <P class="detagrande">9 MONTHS</P>
                        </div>
                    </footer>
                </article>
        
        
        
            </section>
        </div>

    </div>
</div>
