<div class="home">
  <div class="home_container">
    <div class="home_container_text">
      <h3 class="home_title_first">So, you want to travel to</h3>
  
      <h1 class="home_title_second">SPACE</h1>
  
      <p class="content">
        Let’s face it; if you want to go to space, you might as well genuinely go
        to outer space and not hover kind of on the edge of it. Well sit back, and
        relax because we’ll give you a truly out of this world experience!
      </p>
    </div>
    <div class="home_container_circle">
      <div class="white_circle">
        Explore
    </div>
    </div>
  </div>
  
</div>
