/* NAVBAR */

.container-fluid {
  margin-top: 50px;
}
.navbar {
  background-color: transparent;
  position: relative;
  padding: 10px;
  margin-left: 10%;
  margin-bottom: 5%;
}
.nav-item.active {
  border-bottom: 3px solid white;
}
ul {
  background-color: #cccccc40;
  padding-left: 90px;
  padding-right: 250px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar::after {
  content: "";
  position: absolute;
  width: 40%;
  border-bottom: 0.3px solid #ccc6;
  top: 66%;
  bottom: 50%;
  left: 9%;
}
.nav-link {
  text-decoration: none;
  font-size: 20px;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 2.35px;
  color: white;
  padding: 16px;
  display: block;
}
.crew_container_img {
  display: flex;
  justify-content: center;
}

@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap");
.crew {
  background-image: url(../../../assets/crew/background-crew-mobile.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  color: white;
  padding: 0.1px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Modo tablet------------------------------------------------------------------------- */
@media only screen and (min-width: 768px) {
  .crew {
    background-image: url("../../../assets/crew/background-crew-tablet.jpg");
  }

  img {
    height: 45vh;
  }
}
/* Modo desktop */
@media only screen and (min-width: 1024px) {
  .crew {
    background-image: url("../../../assets/crew/background-crew-desktop.jpg");
    background-size: cover;
  }
  .crew_container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .crew_container_text {
    width: 40%;
  }
  .crew_container_img {
    width: 30%;
  }
  img {
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  img {
    height: 35vh;
  }
}
