<nav data-nav="menu">
  <img data-nav="close" class="close" src="./Imgs/X.svg" />
  <ul>
    <li class="li-activated" data-li>
      <span>00</span><a href="#">HOME</a>
      <div data-divider class="bar-header"></div>
    </li>
    <li data-li>
      <span>01</span><a href="#">DESTINATION</a>
      <div data-divider></div>
    </li>
    <li data-li>
      <span>02</span><a href="#">CREW</a>
      <div data-divider></div>
    </li>
    <li data-li>
      <span>03</span><a href="#">TECHNOLOGY</a>
      <div data-divider></div>
    </li>
  </ul>
</nav>
